h1 {
  color: purple;
  font-size: 75px;
  font-family: "Cambria"
}

h3 {
  color: yellow;
  font-size: 37px;
  font-family: "Cambria"
}

h2 {
  color: purple;
  font-size: 25px
  font-family: "Cambria"
}
